score-display {
  // position: absolute;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #40008a;
  // height: 23%;
  // width: 21%;
  color: rgb(27, 196, 12);
  border: 4px solid rgb(27, 196, 12);
  // border-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  // height: fit-content;
  // width: fit-content;
  padding: 15px 30px;
}

.bottom-display {
  bottom: 0;
  height: 23%;
  width: 100%;
  background-color: #40008a;
  position: absolute;

  border-top-color: black;
  border-top-width: 0.2em;
  border-top-style: dashed;
  // border-top: groove;
}

question-asker {
  bottom: 0;
  right: 0;
  height: 68%;
  position: absolute;
  width: 800px;
  right: 300px;
  // border-top-color: black;
  // border-top-width: 0.2em;
  // border-top-style: dashed;
  // background-color: #40008a;
  // border-top: groove;
}

// leaderboard {
//   bottom: 0;
//   right: 0;
//   height: 68%;
//   position: absolute;
//   width: 800px;
//   right: 300px;
// }

leaderboard {
  bottom: 35px;
  height: auto;
  position: absolute;
  width: auto;
  right: 500px;
}

timer {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #40008a;
  height: 23%;
  width: 21%;
  color: rgb(27, 196, 12);
  border: 6px double rgb(27, 196, 12);
  // border-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
  width: fit-content;
  padding: 25px 40px;
}

round-display {
  display: inline-block;
  position: inherit;
  // color: #40008a;
  color: white;
  right: 550px;
  margin-top: 75px;

  // position: absolute;
  // display: inline-block;
  // top: 50px;
  // right: 50px;
  // background-color: #40008a;
  // height: 23%;
  // width: 21%;
  // color: #40008a;
  // right: 300px;
  // border: 6px double rgb(27, 196, 12);
  // border-top: 0;
  // padding-left: 20px;
  // padding-right: 20px;
  // height: fit-content;
  // min-width: fit-content;
  // padding: 25px 40px;

}
