.question {
  font-family: fantasy;
  font-size: 3em;
  // font-weight: bold;
  text-align: center;
  color:rgb(27, 196, 12);
  margin-bottom: 50px;
}


.answer {

  background-color: #40008a;
  border-radius: 2em;
  border: 6px double rgb(27, 196, 12);
  padding-left: 20px;
  padding-right: 20px;
  padding: 25px 40px;
  height: 45px;
  // width: fit-content;
}

.mat-list-base .mat-list-item {
  display: block;

  /* height: 48px; */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  /* padding: 0; */
  padding: 15px 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.8em;

}

.mat-list-item:hover {
  background-color: #004ef5;
}
// .mat-list-item:visited {
//   background-color: #ff1616;
// }
.answer[aria-selected="true"] {
  background-color: #65676b;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  justify-content: center;
}

// :host ::ng-deep .mat-list-item-content.green-background[aria-selected="true"] {
//   background-color: #07ff07;
// }
// :host ::ng-deep mat-list-item.red-background[aria-selected="true"] {
//   background-color: #ff0000;
// }
// answer.green-background {
//   background-color: #07ff07;
// }

.mat-list-item.green-background:focus {
  background: #3cff00;
}

.mat-list-item.red-background:focus {
  background: #ff1212;
}

// green-background {
//   background-color: #07ff07;
// }

// red-background {
//   background-color: #ff0000;
// }

